<!DOCTYPE html>
<html>
  <head>
    <title>Survey Manager: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Survey Manager</h1></a>
    <dl>
      <dt>Name</dt>
      <dd><%=item.rname%></dd>
      <dt>Assigned to:</dt>
      <dd><a href="/users/<%=item.user%>"><%=item.user%></a></dd>
      <% if (item.image) { %>
      <dt>Image URL</dt>
      <dd><img src="<%=item.image%>" alt="<%=item.name%>"></dd>
      <% } %>
    </dl>
    <div class="control">
      <h2>Update respondent</h2>
      <form method="post" action="/respondents/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Name: 
          <input name="item[rname]" value="<%=item.name%>" type="text" required>
        </label>
        <label>User: 
          <select name="item[user]" required>
            <% related_items.forEach(function(related_item) { %>
            <option value="<%=related_item._id%>"
              <% if (related_item._id === item.user) { %>selected<% } %>>
              <%=related_item.uname%>
            </option>
            <% }); %>
          </select>
        </label>
        
        <button>Update</button>
      </form>
    </div>
  </body>
</html>

