<!DOCTYPE html>
<html>
  <head>
    <title>Survey Manager: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Survey Manager</h1></a>
    <dl>
      <dt>User name</dt>
      <dd><%=item.name%></dd>
      <% if (item.description) { %>
      <dt>Description</dt>
      <dd><%=item.description%></dd>
      <% } %>
      <dt>Respondents</dt>
      
      <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_item) { %>
          <li>
            <a href="/respondents/<%=related_item._id%>">
              <%=related_item.name%>
            </a>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No respondents have been added to this party.
        <% } %>
      </dd>
    </dl>
    <div class="control">
      <h2>Add a new respondent</h2>
      <form id="create-respondent" method="post" action="/respondents/">
        <input type="hidden" name="item[user]" value="<%=item._id%>">
        <!-- The line above links the candidate to be created to this party. -->
        <label>Respondent name: 
          <input name="item[name]" type="text" required
                   placeholder="Ron Paul">
        </label>
    <div class="control">
      <h2>Add a new contact</h2>
      <form id="create-contact" method="post" action="/contacts/">
        <input type="hidden" name="item[user]" value="<%=item._id%>">
        <!-- The line above links the contact to be created to this user. -->
        <label>Respondent name: 
          <input name="item[name]" type="text" required
                   placeholder="Ron Paul">
        </label>
        <label>Contact Date:
          <input name="item[contactdate] type="datetime" 
                   placeholder="4/10/2013">
        </label>
        <label>Contact Result:
          <input name="item[result] type="text" 
                   placeholder="left voicemail message">
        </label>
        <button>Add</button>
      </form>
    </div>
        
        <button>Add</button>
      </form>
    </div>
  </body>
</html>
